<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="as:clientAllowedOrigin" value="true"/>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20" />
  <add key="MaxPage" value="5" />
  <add key="ReportFolder" value="/Reports"/>
  <!--Email config tms.cmc.sendmail@gmail.com-->
  <add key="FromEmailAddress" value=""/>
  <add key="FromEmailPassword" value="cmcglobal"/>
  <add key="FromName" value="TMS CMCGLOBAL"/>
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="EnabledSSL" value="true"/>
  <add key="TimeAutoGetTimeSheet" value="01:00:00"/>
  <add key="TimeAutoGetTimeSheetNew" value="11:20:00"/>
  <add key="TimeResetEntitleDay" value="00:10:00"/>
  <add key="TimeResetEntitleDayNew" value="00:10:00"/>
  <add key="TimeAutoRequest" value="23:30:00"/>
  <add key="TimeAutoRequestNew" value="23:30:00"/>
  <add key="TimeAutoReset" value="23:00:00"/>
  <add key="DelegationStatus" value="Actived"/>
  <add key="SecurityWindowService" value="cmcglobal@12345"/>
  <add key="ImportTimeSheetFromDateToDate" value="InActived"/>
  
  <!--reimport timesheet one person-->
  <add key="ImportTimeSheetFromDateToDateByOnePerson" value="InActived"/>
  <add key="FromDateDDMMYYYYOnePerson" value="06/08/2018"/>
  <add key="ToDateDDMMYYYYOnePerson" value="06/08/2018"/>
  <add key="Username" value=""/>

  <!--reimport timesheet all person not explanation-->
  <add key="ImportTimeSheetFromDateToDateAllPerson" value="InActived"/>
  <add key="FromDateDDMMYYYY" value="11/02/2019"/>
  <add key="ToDateDDMMYYYY" value="20/02/2019"/>
  <add key="EmailAdmin" value="nvphuc@cmc.com.vn"/>
  <add key="TMSAPI" value="http://localhost:5555"/>
  <add key="ApiGetHoliday" value="http://101.99.14.196:480/api/publicHoliday/"/>
</appSettings>