.table td:nth-of-type(1)  {width: 200px; min-width: 200px; max-width: 200px;}
.table td:nth-of-type(2)  {width: 100px; min-width: 100px; max-width: 100px;}
.table td:nth-of-type(3)  {width: 70px;  min-width: 70px;  max-width: 70px;}
.table td:nth-of-type(4)  {width: 120px;  min-width: 120px;  max-width: 120px;}
.table td:nth-of-type(5)  {width: 70px;  min-width: 70px;  max-width: 70px;}
.table td:nth-of-type(6)  {width: 110px; min-width: 110px; max-width: 110px;}
.table td:nth-of-type(7)  {width: 100px; min-width: 100px; max-width: 100px;}
.table td:nth-of-type(8)  {width: 90px;  min-width: 90px;  max-width: 90px;}
.table td:nth-of-type(9)  {width: 90px;  min-width: 90px;  max-width: 90px;}
.table td:nth-of-type(10) {width: 200px; min-width: 200px; max-width: 200px;}
.table td:nth-of-type(11) {width: 100px; min-width: 100px; max-width: 100px;}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  overflow-x: auto;
  white-space: nowrap;
  word-break: break-all;
  max-width: 400px;
  text-overflow: ellipsis;
  text-align: left;
  padding: 8px;
  overflow:hidden;
}
tr:nth-child(even){background-color: #f9f9f9}
