/* Table*/
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    overflow-x: auto;
    white-space: nowrap;
    word-break: break-all;
    max-width: 400px;
    text-overflow: ellipsis;
    text-align: left;
    padding: 8px;
    overflow:hidden;
  }
  tr:nth-child(even){background-color: #f9f9f9}
  
  .dateRangeLabel{
    padding-top: 8px;
    float: left;
    padding-right: 20px;
  }
.titleModal{
   cursor: pointer;
  }
  .titleModal a{
    color: #337ab7!important;
  }
  .titleModal a:hover{
  color: black!important;
  }

  .x_panel {
    margin-left: 10px;
    width: 97.8%;
  }
  .table td:nth-of-type(1) {width: 25px; min-width: 25px; max-width: 25px;}
  .table td:nth-of-type(2) {width: 200px; min-width: 200px; max-width: 200px;}
  .table td:nth-of-type(3) {width: 100px; min-width: 100px; max-width: 100px;}
  .table td:nth-of-type(4) {width: 110px; min-width: 110px; max-width: 110px;}
  .table td:nth-of-type(5) {width: 110px; min-width: 110px; max-width: 110px;}
  .toEmail { 
    resize:vertical; 
  }
  