<div class="page-title">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h3>Time Management
        <small>Entitle Day List (Admin)</small>
      </h3>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="clearfix"></div>
    <div class="x_panel">
      <div>
        <div class="row">
          <div class="form-group">
            <div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-9" style="text-align:right;">
              <button type="button" title="Create" class="btn btn-success btn-circle" *ngIf="_authenService.hasPermission('OTREQUEST_LIST','create')"
                (click)="showAddModal()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="x_title">
          <div class="clearfix"></div>
        </div>
        <div style="overflow-x:auto;">
          <table *ngIf="entitledaymanagement && entitledaymanagement.length > 0 && !_authenService.hasPermission('ENTITLEDAY_MANAGEMENT_LIST','readAllGeneralAdmin')" class="table table-bordered">
            <thead>
              <tr>
                <th class="pointer">Day Off Type</th>
                <th>Unit</th>
                <th>Maximum Allowed</th>
                <th>Active</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of entitledaymanagement">
                <td>{{item.HolidayType}}</td>
                <td>{{item.UnitType}}</td>
                <td class="entitleday-center">{{item.MaxEntitleDay}}</td>
                <td>
                  <button class="btn btn-default btn-xs btn-primary" (click)="showEditModal(item.ID)" title="Edit">
                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:white"></i>
                  </button>
                  <button class="btn btn-default btn-xs btn-danger" (click)="deleteItem(item.ID)" title="Delete">
                    <i class="fa fa-trash " aria-hidden="true" style="color:white"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <table *ngIf="entitledaymanagement && entitledaymanagement.length > 0 && _authenService.hasPermission('ENTITLEDAY_MANAGEMENT_LIST','readAllGeneralAdmin')" class="table table-bordered">
              <thead>
                <tr>
                  <th class="pointer">Day Off Type</th>
                  <th>Unit</th>
                  <th>Maximum Allowed</th>
                  <!-- <th>Active</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of entitledaymanagement">
                  <td>{{item.HolidayType}}</td>
                  <td>{{item.UnitType}}</td>
                  <td class="entitleday-center">{{item.MaxEntitleDay}}</td>
                  <!-- <td>
                    <button class="btn btn-default btn-xs btn-primary" (click)="showEditModal(item.ID)" title="Edit">
                      <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:white"></i>
                    </button>
                    <button class="btn btn-default btn-xs btn-danger" (click)="deleteItem(item.ID)" title="Delete">
                      <i class="fa fa-trash " aria-hidden="true" style="color:white"></i>
                    </button>
                  </td> -->
                </tr>
              </tbody>
            </table>

        </div>
        <div *ngIf="entitledaymanagement && entitledaymanagement.length == 0" class="col-md-12">
          <div class="alert alert-info">
            <strong> Notification!</strong> No data found in system
          </div>
        </div>
        <div *ngIf="entitleday && entitleday.length > 0" class="col-md-6">
          <pagination [boundaryLinks]="true" [maxSize]="pagingSize" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow"
            [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
        <div *ngIf="entitleday && entitleday.length > 0 && totalRow > 1" class="col-md-6 showPage" style="text-align: right">
          <h5>Showing {{(pageIndex - 1) * pageSize + 1}} to {{currentMaxEntries}} of {{totalRow}} entries</h5>
        </div>
        <div *ngIf="entitleday && entitleday.length == 1" class="col-md-6 showPage" style="text-align: right">
          <h5>Showing {{(pageIndex - 1) * pageSize + 1}} to {{currentMaxEntries}} of {{totalRow}} entry</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal add and edit -->
<div bsModal #modalAddEdit="bs-modal" [config]="{'backdrop':'static', 'keyboard': false}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="!isCreate">Update Entitle Day List</h4>
        <h4 class="modal-title pull-left" *ngIf="isCreate">Create Entitle Day List</h4>
        <button type="button" class="close pull-right" (click)="hideModal(addEditForm)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveData(addEditForm)" *ngIf="entity">
          <div class="form-group">
            <label class="control-label col-md-2 col-sm-3 col-xs-12">Day Off Type
              <span style="color:red">*</span>:</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <input type="text" #HolidayType="ngModel" [(ngModel)]="entity.HolidayType" required minlength="5" maxlength="50" name="HolidayType"
                class="form-control">
              <small *ngIf="addEditForm.controls['HolidayType']?.hasError('minlength')" class="text-danger">
                Day-Off Type should be between 5 to 50 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2 col-sm-3 col-xs-12">Unit
              <span style="color:red">*</span>:</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <select #UnitType="ngModel" [(ngModel)]="entity.UnitType" required name="UnitType" class="form-control">
                <option>Day</option>
                <option>Day/Period</option>
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <label class="control-label col-md-2 col-sm-3 col-xs-12 divfixtitle">Maximum Allowed
              <span style="color:red">*</span>:</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <input type="text" #MaxEntitleDay="ngModel" [(ngModel)]="entity.MaxEntitleDay" name="MaxEntitleDay" class="form-control"
                minlength="1" maxlength="3" required pattern="^([0-9][0-9]*){1,3}$">
              <small *ngIf="addEditForm.controls['MaxEntitleDay'].hasError('pattern')" class="text-danger">
                Please enter numbers only!
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2 col-sm-3 col-xs-12">Description
              <span style="color:red"></span>:</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <textarea type="text" maxlength="500" #Description="ngModel" rows=2 [(ngModel)]="entity.Description" name="Description" class="form-control"></textarea>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-10 col-sm-9 col-xs-12 col-md-offset-2">
              <button title="Add" type="submit" class="btn btn-success" *ngIf="isCreate" [disabled]="!addEditForm.form.valid">Add</button>
              <button title="Update" type="submit" class="btn btn-success" *ngIf="!isCreate" [disabled]="!addEditForm.form.valid">Update</button>
              <button title="Reset" type="button" (click)="resetForm(addEditForm)" class="btn btn-primary">Reset</button>
              <button title="Close" type="button" type="button" (click)="hideModal(addEditForm)" class="btn btn-circle">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>