<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col" style="z-index: 100">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a routerLink="/main/home/index" class="site_title"><img src="~/../../../assets/images/logo_cmc1.png" height="30" >
            <span>TMS Application</span>
          </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
          <div  class="profile_pic">
              <img  src="../../assets/images/user.png" alt="" class="img-circle profile_img"> 
          </div>
          <div class="profile_info" *ngIf="user">
            <span>Welcome,</span>
            <h2>{{user.fullName}}</h2>
          </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <app-sidebar-menu></app-sidebar-menu>
        <!-- /sidebar menu -->
      </div>
    </div>

    <!-- top navigation -->
    <app-top-menu></app-top-menu>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /page content -->

    <!-- footer content -->
    <footer>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>