
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  overflow-x: auto;
  white-space: nowrap;
  word-break: break-all;
  max-width: 300px;
  text-overflow: ellipsis;
  text-align: left;
  overflow:hidden;
}
@media only screen and (max-width: 1368px) {
.table td:nth-of-type(1) {width: 25px; min-width: 25px; max-width: 25px;}
.table td:nth-of-type(2) {width: 180px; min-width: 180px; max-width: 180px;}
.table td:nth-of-type(3) {width: 150px; min-width: 150px; max-width: 150px;}
.table td:nth-of-type(4) {width: 110px; min-width: 110px; max-width: 110px;}
.table td:nth-of-type(5) {width: 110px; min-width: 110px; max-width: 110px;}
.table td:nth-of-type(6) {width: 180px; min-width: 180px; max-width: 180px;}
.table td:nth-of-type(7) {width: 90px; min-width: 90px; max-width: 90px;}

.memberTable td:nth-of-type(1) {width: 300px; min-width: 300px; max-width: 300px;}
.memberTable td:nth-of-type(2) {width: 230px; min-width: 230px; max-width: 230px;}
.memberTable td:nth-of-type(3) {width: 40px; min-width: 40px; max-width: 40px;}
.memberTable td:nth-of-type(4) {width: 120px; min-width: 120px; max-width: 120px;}
.memberTable td:nth-of-type(5) {width: 80px; min-width: 80px; max-width: 80px;}
.memberTable td:nth-of-type(6) {width: 80px; min-width: 80px; max-width: 80px;}

.superAdminTable td:nth-of-type(1) {width: 300px; min-width: 300px; max-width: 300px !important;} 
.superAdminTable td:nth-of-type(2) {width: 200px; min-width: 200px; max-width: 200px !important;}
.superAdminTable td:nth-of-type(3) {width: 40px; min-width: 40px; max-width: 40px !important;}
.superAdminTable td:nth-of-type(4) {width: 40px; min-width: 40px; max-width: 40px !important;}
.superAdminTable td:nth-of-type(5) {width: 170px; min-width: 170px; max-width: 170px !important;}
.superAdminTable td:nth-of-type(6) {width: 80px; min-width: 80px; max-width: 80px !important;}

}
@media only screen and (min-width: 1368px) {
  .table td:nth-of-type(1) {width: 25px; min-width: 25px; max-width: 25px;}
  .table td:nth-of-type(2) {width: 300px; min-width: 300px; max-width: 300px;}
  .table td:nth-of-type(3) {width: 200px; min-width: 200px; max-width: 200px;}
  .table td:nth-of-type(4) {width: 110px; min-width: 110px; max-width: 110px;}
  .table td:nth-of-type(5) {width: 110px; min-width: 110px; max-width: 110px;}
  .table td:nth-of-type(6) {width: 190px; min-width: 190px; max-width: 190px;}
  .table td:nth-of-type(7) {width: 78px; min-width: 78px; max-width: 78px;}
  .table td:nth-of-type(8) {width: 110px; min-width: 110px; max-width: 110px;}
  
  .memberTable td:nth-of-type(1) {width: 280px; min-width: 280px; max-width: 280px;}
  .memberTable td:nth-of-type(2) {width: 180px; min-width: 180px; max-width: 180px;}
  .memberTable td:nth-of-type(3) {width: 80px; min-width: 80px; max-width: 80px;}
  .memberTable td:nth-of-type(4) {width: 230px; min-width: 230px; max-width: 230px;}
  .memberTable td:nth-of-type(5) {width: 100px; min-width: 100px; max-width: 100px;}
  .memberTable td:nth-of-type(6) {width: 110px; min-width: 110px; max-width: 110px;}

  .superAdminTable td:nth-of-type(1) {width: 300px; min-width: 300px; max-width: 300px !important;} 
  .superAdminTable td:nth-of-type(2) {width: 200px; min-width: 200px; max-width: 200px !important;}
  .superAdminTable td:nth-of-type(3) {width: 40px; min-width: 40px; max-width: 40px !important;}
  .superAdminTable td:nth-of-type(4) {width: 40px; min-width: 40px; max-width: 40px !important;}
  .superAdminTable td:nth-of-type(5) {width: 170px; min-width: 170px; max-width: 170px !important;}
  .superAdminTable td:nth-of-type(6) {width: 80px; min-width: 80px; max-width: 80px !important;}
}
a:hover{
  color: #0b0256;
  cursor: pointer;
}
textarea {
  resize: vertical;
}

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
tr:nth-child(even){background-color: #f9f9f9}
.colorRed{
  color:red;
}
.dateRangeLabel{
  padding-top: 8px;
  float: left;
  padding-right: 20px;
}
.titleModal{
  cursor: pointer;
 }
 .titleModal a{
   color: #337ab7!important;
 }
 .titleModal a:hover{
 color: black!important;
 }
.detail-reason-list{
  height:auto;
}
.delegate-modal {
  margin-left: auto;
  margin-right: auto;
  border-right: 1px;
  max-width: 450px;
}
.delegate-modal-content{
  max-width: 450px!important;
}
.delegate-action-button{
  text-align: right;
  margin-right: 39px;
}
.splitCol{
  border-left: 1px solid #ccc;
  float: left;
  height: 20px;
  margin-top: 5px;
}
.inputDate{
  padding: 6px 10px!important;
}
.dropdown-inline[_ngcontent-c5]{
  display: block!important;
}
.approvedAll{
  text-align: right;
}
.checkbox{
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}
.titleModal{
  cursor: pointer;
 }
 .titleModal a{
   color: #337ab7!important;
 }
 .titleModal a:hover{
 color: black!important;
 }
 .label-radio{
  margin-top: -8px;
}
.radio-check {
  font-weight: lighter;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-check input:checked ~ .checkmark {
  background-color: white;
  border:1px solid #cccccc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-check .checkmark:after {
 top: 5px;
left: 5px;
width: 8px;
height: 8px;
border-radius: 50%;
background: #555555;
}